
body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 21px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #000000; /* Web sayfasının arka plan rengi */
    color: #2dced6; /* Metin rengi */
}

p {
    color: #e20505; /* Başlık rengi */
    font-size: 44px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}


@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}
h1:hover { animation: color-change 3s infinite; }
